.search-box-outer {
    position: absolute;
    z-index: 1;
    background-color: #fff;
    top: 2%;
    right: 5%;
    border: 2px solid #fff;
}

.search-box-inner {
    color: rgb(25,25,25);
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 38px;
    padding-left: 5px;
    padding-right: 5px;
}